apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress
spec:
  rules:
  - host: www.91.92.152.243.nip.io
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: www
            port:
              number: 80   
  - host: auth.91.92.152.243.nip.io
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: auth
            port:
              number: 80
  - host: wss.91.92.152.243.nip.io
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: wss
            port:
              number: 80